<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DCPayAlertDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F48A81DB1C17C5FD007FABA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F48A81F41C17C5FD007FABA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F48A81FF1C17C5FD007FABA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
